*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items:center ;
  min-height: 100vh;
  background: #050505;
}
.cube{
  position: relative;
  top: 0;
  bottom: 0;
  right: -400px;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;

}

@keyframes animate{
  0%{
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100%{
    transform: rotateX(-30deg) rotateY(-360deg);  
  }
}

.cube div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube div span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#151515,#00ec00);
  transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}

.top{
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: #222;
  transform: rotateX(90deg) translateZ(150px);
}
.top::before{
  content:  '';
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: #0f0;
  transform: translateZ(-375px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
0 0 200px rgba(0, 255, 0, 0.4),
0 0 300px rgba(0, 255, 0, 0.6),
0 0 400px rgba(0, 255, 0, 0.8),
0 0 500px rgba(0, 255, 0, 1);
}












































.cube-3{
  position: relative;
  top: -250px;
  left: -800px;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate1 4s linear infinite;

}

@keyframes animate1{
  0%{
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100%{
    transform: rotateX(-30deg) rotateY(-360deg);  
  }
}

.cube-3 div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube-3 div span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#151515,rgb(255, 0, 0));
  transform: rotateY(calc(90deg * var(--i))) translateZ(150px);

}

.top-3{
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: #222;
  transform: rotateX(90deg) translateZ(150px);
}
.top-3::before{
  content:  '';
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background:#2eb9ff;
  transform: translateZ(-375px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba( 46, 185, 255, 0.2),
0 0 200px rgba( 46, 185, 255, 0.4),
0 0 300px rgba( 46, 185, 255, 0.6),
0 0 400px rgba( 46, 185, 255, 0.8),
0 0 500px rgba( 46, 185, 255, 1);
}









































































